
*{
    box-sizing:"border-box";
    }
    
    .app-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .input-label{
        display: block;
        margin-bottom: 8px;
        color:#3498db;
    }
    
    input{
        width: 100%;
        margin-bottom:15px;
    }
    
    button{
        padding:8px;
        margin-right: 8px;
        border: none;
        color:#ffffff;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="text"]{
        width:100%;
        padding:8px;
        border:2px solid #3498db;
    }
    
    h1{
        color: #3498db;
    }
    
    .generate-btn{
        background-color: #3498db;
    }
    .generate-btn:disabled{
        background-color: #bdc3c7;
        cursor:not-allowed;
    }
    
    .download-btn{
        background-color: #27ae60;
        margin-left: 10px;
    }
    .download-btn:hover{
        background-color: #219a52;
    }
    